services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - AUTO_UPDATE=false
    volumes:
      - ./config:/config
      - ./blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

    
